* {
    box-sizing: border-box;
}

.registroLogin {
    width: 450px;
    height: 748px;
    background: #000;
    color: #fff;
    opacity: 0.7;
    padding: 40px 20px 10px 20px;
    margin-bottom: 0px;
    border-radius: 8%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.avatar {
    width: 47%;
    height: 42%;
    position: absolute;
    top: -70px;
    left: calc(50% - 20%);
}

h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 40px;
    float: left;
}

label {
    margin: 0;
    padding: 0 0 10px;
    font-weight: bold;
    display: block;
    height: 25px;
    width: 317px;
    float: left;
}

input {
    width: 100%;
    margin-bottom: 20px;
}

#msgError {
    float: left;
}

.texto {
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    color: #fff;
    font-size: 16px;
    height: 30px;
    float: left;
}

.btn {
    border: none;
    outline: none;
    height: 30px;
    background: rgb(87, 0, 0);
    color: #fff;
    border-radius: 10px;
    font-size: 18px;
    width: 100%;
    float: left;
}

    .btn:hover {
        background: brown;
    }

body {
    background: url(../img/fondito.jpg) no-repeat center center fixed;
}
