* {
    box-sizing: border-box;
}

body {
    padding: 0%;
    background: url(../img/fondito.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: sans-serif;
}

.login {
    width: 300px;
    height: 360px;
    background: #000;
    color: #fff;
    padding: 40px 10px 10px 10px;
    opacity: 0.7;
    border-radius: 4px;
    overflow: hidden;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}

.registroLogin {
    width: 350px;
    height: 600px;
    background: #000;
    color: #fff;
    opacity: 0.7;
    
    position: absolute;
    transform: translate(-50%,-50%);
    padding: 140px 40px;
    border-radius: 2%;
}

.avatar {
    width: 47%;
    height: 42%;
    position: absolute;
    top: -70px;
    left: calc(50% - 20%);
}

h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 40px;
}

label {
    margin: 0;
    padding: 0 0 10px;
    font-weight: bold;
    display: block;
    height: 25px;
    width: 317px;
}

input {
    width: 100%;
    margin-bottom: 20px;
}

.texto {
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    color: #fff;
    font-size: 16px;
    height: 30px;
}

.btn {
    border: none;
    outline: none;
    height: 30px;
    background: rgb(87, 0, 0);
    color: #fff;
    border-radius: 2px;
    font-size: 18px;
    width: 100%;
}

    .btn:hover {
        background: brown;
    }

#Label1 {
    padding-right: 50%;
}
